menu{
    
    width: inherit; 
    margin:0;
    height: 18%;
    background-color: lawngreen;
}
html, body{
    background-color: silver;
    margin:0;
    height: 100%;
} 
/*the log-in element and his sub elements */
login{ 
    margin:0;
    background-color: blueviolet;
    position: absolute;
    height: inherit;
    width: 15%;
    left:0;
    text-align: center;
    font-size: 18mm; 

    
}
login> *{
    font-size: 5mm;
}
#login_name{
    position: relative;
    width: -webkit-fill-available;
    
}
#login_password{
    position: relative;
    width: -webkit-fill-available;
}
/*the logo element*/
logo{
    margin:0;
    background-color: lightcoral;
    position: absolute;
    height: inherit;
    width: 15%;
    right: 0;
    font-size: 20mm; 
    text-align: center;
}
physic{
    margin:0;
    background-color: #777070;
    position: absolute;
    height: inherit;
    width: 35%;
    left: 15%;
    text-align: center;
    font-size: 22mm;
}
geometry{
    margin:0;
    background-color: lawngreen;
    position: absolute;
    height: inherit;
    width: 35%;
    right: 15%;
    text-align: center;
    font-size: 22mm;
}


p{
    margin: 0;
}
/* #can_plate{
    

} */