menu {
  width: inherit;
  margin: 0;
  height: 18%;
  background-color: lawngreen;
  z-index: 10;
}

html,
body {
  background-color: silver;
  margin: 0;
  height: 100%;
}
/*the log-in element and his sub elements */
#login {
  background-color: blueviolet;

  width: 20%;
  left: 0;
  font-size: 18mm;
}

#login > * {
  font-size: 5mm;
}
#login_name {
  position: relative;
  width: -webkit-fill-available;
}
#login_password {
  position: relative;
  width: -webkit-fill-available;
}
/*the logo element*/
#logo {
  background-color: lightcoral;

  width: 20%;
  right: 0;
  font-size: 20mm;
}

#physic {
  background-color: #777070;

  width: 30%;
  left: 20%;
  font-size: 20mm;
}
#geometry {
  background-color: lawngreen;

  width: 30%;
  right: 20%;
  font-size: 20mm;
}

#can_plate {
  position: absolute;
  top: 18%;
}
.menuos {
  margin: 0;
  text-align: center;
  position: absolute;

  overflow: hidden;
  max-height: 18%;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  transition: max-height 1s;
}
.menuos:hover {
  max-height: 100%;
}

p {
  margin: 0;
}
