menu{
    width: inherit;
    margin:0;
    height: 18%;
    background-color: lawngreen;
    z-index:10;
}

html, body{
    background-color: silver;
    margin:0;
    height: 100%;
} 
/*the log-in element and his sub elements */
#login{ 
    margin:0;
    background-color: blueviolet;
    position: absolute;
    height: inherit;
    width: 20%;
    left:0;
    text-align: center;
    font-size: 18mm;
    overflow: hidden;
}
#login:hover{
    height: fit-content;
}
#login> *{
    font-size: 5mm;
}
#login_name{
    position: relative;
    width: -webkit-fill-available;
    
}
#login_password{
    position: relative;
    width: -webkit-fill-available;
}
/*the logo element*/
#logo{
    margin:0;
    background-color: lightcoral;
    position: absolute;
    height: inherit;
    width: 20%;
    right: 0;
    font-size: 20mm;
    text-align: center;
    overflow: hidden;
}
#logo:hover{
    height: fit-content;
}
#physic{
    margin:0;
    background-color: #777070;
    position: absolute;
    height: inherit;
    width: 30%;
    left: 20%;
    text-align: center;
    font-size: 20mm;
    overflow: hidden;
}
#physic:hover{
    height: fit-content;
}
#geometry{
    margin:0;
    background-color: lawngreen;
    position: absolute;
    height: inherit;
    width: 30%;
    right: 20%;
    text-align: center;
    font-size: 20mm;
    overflow: hidden;
}
#geometry:hover{
    height: fit-content;
}


#can_plate{
    position:absolute;
    top:18%;
}


p{
    margin: 0;
}